{% extends 'base.html' %}

{% block content %}
{{ block.super }}
<div class="container">

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
                <h2 class="text-center">{{ single_article.title}}</h2>
            </div>
            <div class="row">
                <h2 class="text-center">{{ single_article.post}}</h2>
            </div>
            <div class="row">
                <h2 class="text-center">{{ single_article.pub_date| timesince }}</h2>
            </div>
        </div>

         <!--Display news Article images  -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            {% if single_article.article_image %}
                <img src="{{single_article.article_image.url}}" class="img-fluid rounded-start img-thumbnail" alt="Image">
            {% else %}
            <img class="img-fluid rounded-start img-thumbnail" src="https://via.placeholder.com/200">
            {% endif %}
        </div>
    </div>
    
</div>

{% endblock %}